@model IEnumerable<MvcEisenhower.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New Task</a>
</p>

<div class="eisenhowermatrix">
    <div style="grid-area: none"></div>
    <div class="em_header" style="grid-area: urgent_header">Urgent</div>
    <div class="em_header" style="grid-area: noturgent_header">Not Urgent</div>
    <div class="em_header" style="grid-area: important_header">Important</div>
    <div id="em_urgent_important">
        <ol type="1">
            @foreach (var item in Model)
            {
                @if (item.Important && item.Urgent)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.Name)
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </li>
                }
            }
        </ol>
    </div>
    <div id="em_noturgent_important">
        <ol type="1">
            @foreach (var item in Model)
            {
                @if (item.Important && !item.Urgent)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.Name)
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </li>
                }
            }
        </ol>
    </div>
    <div class="em_header" style="grid-area: notimportant_header">Not Important</div>
    <div id="em_urgent_notimportant">
        <ol type="1">
            @foreach (var item in Model)
            {
                @if (!item.Important && item.Urgent)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.Name)
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </li>
                }
            }
        </ol>
    </div>
    <div id="em_noturgent_notimportant">
        <ol type="1">
            @foreach (var item in Model)
            {
                @if (!item.Important && !item.Urgent)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.Name)
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </li>
                }
            }
        </ol>
    </div>
</div>
